.items-widget {
  .container {
    margin: 100px auto;
    width: 600px;

    button {
      float: right;
    }
  }
  md-input-container {
    width: 420px;
  }
  table {
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }
  tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;
  }
  th {
    text-align: left;
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
    width: 80%;

    &:first-child {
      width: 10%;
      text-align: center;
    }
    &:last-child {
      width: 10%;
      text-align: center;
    }
  }
  td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;

    &:first-child {
      text-align: center;
    }
    &:last-child {
      text-align: center;
    }
  }
  .title {
    width: 430px;
  }
  .row-input {
    margin: 0;
  }
  .material-icons.red500 { color: #F44336; }
}
