<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="components/angular-material/angular-material.min.js"></script>

<script type="text/javascript" src="app/index.module.js"></script>
<script type="text/javascript" src="app/index.config.js"></script>
<script type="text/javascript" src="app/index.route.js"></script>
<script type="text/javascript" src="app/index.run.js"></script>

<script type="text/javascript" src="app/main/main.controller.js"></script>
<script type="text/javascript" src="app/components/items/items.service.js"></script>
<script type="text/javascript" src="app/components/items/items.directive.js"></script>


</body>
</html>
